ENVIRONMENT=DEV
KC_USER=admin
KC_PASSWORD=change-me
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=change-me
MINIO_USER=admin
MINIO_PASSWORD=change-me
MINIO_ADMIN_USER=admin
MINIO_ADMIN_PASS=change-me
KEYCLOAK_CONFIG_CLI_AVAILABILITY_TIMEOUT=600s
VT_TOKEN=
NAMESPACE_PROFILE=compact
