ENVIRONMENT=DEV
KC_URL=http://admin.auth.dev.ed.dataspaceunit.upm
KC_INTERNAL_URL=http://auth.dev.ed.dataspaceunit.upm
KEYCLOAK_HOSTNAME=auth.dev.ed.dataspaceunit.upm
KEYCLOAK_ADMIN_HOSTNAME=admin.auth.dev.ed.dataspaceunit.upm
KC_USER=admin
KC_PASSWORD=change-me
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=change-me
MINIO_HOSTNAME=minio.dev.ed.dataspaceunit.upm
MINIO_CONSOLE_HOSTNAME=console.minio-s3.dev.ed.dataspaceunit.upm
MINIO_USER=admin
MINIO_PASSWORD=change-me
MINIO_ADMIN_USER=admin
MINIO_ADMIN_PASS=change-me
VT_TOKEN=
DOMAIN_BASE=dev.ed.dataspaceunit.upm
DS_DOMAIN_BASE=dev.ds.dataspaceunit.upm
NAMESPACE_PROFILE=compact
