**
!package.json
!yarn.lock
!config/
!config/**
!content/
!content/**
!database/
!database/**
!favicon.png
!generate-env.sh
!jsconfig.json
!public/
!public/**
!scripts/
!scripts/**
!src/
!src/**
!types/
!types/**
