VM_EXTERNAL_IP=
VM_COMMON_IP=
VM_DATASPACE_IP=
VM_PROVIDER_IP=
VM_CONSUMER_IP=
VM_CONNECTORS_IP=
VM_COMPONENTS_IP=
VM_OBSERVABILITY_IP=
INGRESS_EXTERNAL_IP=
CLUSTER_TYPE=k3s
K3S_KUBECONFIG=/etc/rancher/k3s/k3s.yaml
K3S_INSTALL_EXEC=--disable=traefik
K3S_SERVICE_NAME=k3s
K3S_INGRESS_CONTROLLER=ingress-nginx
K3S_INGRESS_SERVICE_TYPE=LoadBalancer
K3S_REPAIR_ON_LEVEL1=prompt
K3S_WRITE_KUBECONFIG_MODE=0644
