VM_EXTERNAL_IP=
VM_COMMON_IP=
VM_DATASPACE_IP=
VM_PROVIDER_IP=
VM_CONSUMER_IP=
VM_CONNECTORS_IP=
VM_COMPONENTS_IP=
VM_OBSERVABILITY_IP=
INGRESS_EXTERNAL_IP=
CLUSTER_TYPE=k3s
K3S_KUBECONFIG=/etc/rancher/k3s/k3s.yaml
K3S_KUBECONFIG_COMMON=/etc/rancher/k3s/k3s.yaml
K3S_KUBECONFIG_PROVIDER=
K3S_KUBECONFIG_CONSUMER=
K3S_KUBECONFIG_COMPONENTS=
K3S_INSTALL_EXEC=--disable=traefik
K3S_SERVICE_NAME=k3s
K3S_INGRESS_CONTROLLER=ingress-nginx
K3S_INGRESS_SERVICE_TYPE=LoadBalancer
K3S_INGRESS_HTTP_NODEPORT=
K3S_REPAIR_ON_LEVEL1=prompt
K3S_WRITE_KUBECONFIG_MODE=0644
TOPOLOGY_ROUTING_MODE=host
VM_PROVIDER_CONNECTORS=
VM_CONSUMER_CONNECTORS=
VM_PROVIDER_INGRESS_HTTP_PORT=80
VM_CONSUMER_INGRESS_HTTP_PORT=
VM_PROVIDER_INGRESS_NODEPORT=
VM_CONSUMER_INGRESS_NODEPORT=
DATABASE_HOSTNAME=
VAULT_URL=
VT_URL=
PIONERA_LEVEL6_MINIO_ENDPOINT=
