VM_EXTERNAL_IP=
VM_COMMON_IP=
VM_DATASPACE_IP=
VM_CONNECTORS_IP=
VM_COMPONENTS_IP=
INGRESS_EXTERNAL_IP=
DOMAIN_BASE=
DS_DOMAIN_BASE=
KC_URL=
KC_INTERNAL_URL=
KEYCLOAK_HOSTNAME=
KEYCLOAK_ADMIN_HOSTNAME=
MINIO_HOSTNAME=
MINIO_CONSOLE_HOSTNAME=
TOPOLOGY=vm-single
# Internal Kubernetes service used by deployed workloads. Leave blank to infer it.
DATABASE_HOSTNAME=
# Internal Vault service used by deployed workloads. Leave blank to infer it.
VAULT_URL=
CLUSTER_TYPE=minikube
MINIKUBE_DRIVER=docker
MINIKUBE_CPUS=8
MINIKUBE_MEMORY=24576
MINIKUBE_PROFILE=minikube
K3S_KUBECONFIG=~/.kube/vm-single-k3s.yaml
K3S_INSTALL_EXEC=--disable=traefik
K3S_SERVICE_NAME=k3s
K3S_INGRESS_CONTROLLER=ingress-nginx
K3S_INGRESS_SERVICE_TYPE=LoadBalancer
K3S_REPAIR_ON_LEVEL1=prompt
K3S_WRITE_KUBECONFIG_MODE=0644
VM_SINGLE_LOCAL_KUBECONFIG=~/.kube/vm-single-k3s.yaml
VM_SINGLE_REMOTE_KUBECONFIG=/etc/rancher/k3s/k3s.yaml
VM_SINGLE_K3S_TUNNEL_MODE=auto
VM_SINGLE_K3S_API_LOCAL_PORT=46443
VM_SINGLE_K3S_API_REMOTE_PORT=6443
VM_SINGLE_REMOTE_IMAGE_IMPORT=auto
VM_SINGLE_REMOTE_IMAGE_IMPORT_COMMAND=sudo -n k3s ctr -n k8s.io images import
VM_SINGLE_REMOTE_IMAGE_IMPORT_DIR=/tmp
VM_SINGLE_REMOTE_IMAGE_IMPORT_INTERACTIVE=auto
VM_SINGLE_REMOTE_IMAGE_IMPORT_TTY=false
VM_SINGLE_REMOTE_IMAGE_PRUNE=false
VM_SINGLE_REMOTE_IMAGE_PRUNE_KEEP=2
VM_SINGLE_K3S_LEVEL3_IMAGE_PREPULL=false
VM_SINGLE_PUBLIC_URL=
VM_SINGLE_HTTP_URL=
VM_SINGLE_CONNECTOR_PUBLIC_PATH_PREFIX=/c
COMPONENTS_PUBLIC_BASE_URL=
COMPONENTS_PUBLIC_PATH_REWRITE=true
VM_DISTRIBUTED_COMPONENT_PUBLIC_PATH_INGRESS_OWNER=level5
ONTOLOGY_HUB_PUBLIC_URL=
AI_MODEL_HUB_PUBLIC_URL=
SEMANTIC_VIRTUALIZATION_PUBLIC_URL=
SEMANTIC_VIRTUALIZATION_MAPPING_EDITOR_URL=
VM_SINGLE_LEVEL_EXECUTION_MODE=auto
VM_SINGLE_REMOTE_PYTHON=python3
VM_SINGLE_REMOTE_WORKDIR=
VM_SINGLE_WORKSPACE_SYNC=disabled
VM_SINGLE_WORKSPACE_SYNC_DELETE=false
VM_SINGLE_WORKSPACE_SYNC_EXCLUDES=
VM_REMOTE_WORKDIR=
VM_SSH_USER=
SSH_ACCESS_MODE=
SSH_BASTION_HOST=
SSH_BASTION_PORT=2222
SSH_BASTION_USER=
SSH_BASTION_IDENTITY_FILE=
SSH_IDENTITY_FILE=
SSH_CONNECT_TIMEOUT_SECONDS=5
VM_SINGLE_SSH_HOST=
VM_SINGLE_SSH_PORT=22
VM_SINGLE_SSH_USER=
VM_SINGLE_SSH_IDENTITY_FILE=
VM_SINGLE_SSH_BOOTSTRAP_MODE=manual
VM_SINGLE_SSH_KEY_COMMENT=validation-environment-vm-single
VM_SINGLE_SSH_MANAGED_MARKER=validation-environment-vm-single
VM_SINGLE_SSH_KNOWN_HOSTS_STRATEGY=accept-new
