<div class="footer-container">
  <footer class="footer">
    <div class="footer__logos">
      <img class="footer__logo" src="https://ec.europa.eu/regional_policy/images/information-sources/logo-download-center/nextgeneu_en.jpg" alt="Funded by the European Union - NextGenerationEU">

      <img class="footer__logo" src="https://geography.sav.sk/web-data/projects/plan-obnovy/POO_logo_angl.png" alt="Recovery and Resilience Plan">

      <img class="footer__logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXJYxia4xbNb_wEqV1cjiodPww0Cr-dHDu_A&s" alt="Deputy Prime Minister’s Office">

      <img class="footer__logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOFFjoR0qFRIoJXdYSUEt5OoK2c0nUmzkpqQ&s" alt="VAIA Research and Innovation Authority">

      <img class="footer__logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFx74NOUEbxFdi28N-A1OZaIJvFpgyWq20lg&s" alt="Logo stics">

      <img class="footer__logo" src="assets/images/logo-politecnica.png" alt="Logo politécnica">

      <img class="footer__logo" src="assets/images/logo-ontology.png" alt="Logo ontology">
    </div>
    <div class="footer__powered-by">
      <span>Powered by:</span>
      <img class="footer__logo footer__logo--pionera" src="assets/branding/pionera-logo.svg" alt="PIONERA logo">
      <img class="footer__logo footer__logo--inesdata" src="assets/branding/inesdata.png" alt="INESData logo">
    </div>
  </footer>

  <div class="footer__company">
    <p>STICS © {{ year }}</p>
  </div>
</div>
