<div class="footer-container">
  <footer class="footer">
    <div class="footer__logos">
      <img class="footer__logo footer__logo--pionera" src="assets/branding/pionera-logo.svg" alt="PIONERA logo">
      <img class="footer__logo footer__logo--funding" src="assets/branding/funding-logos.png" alt="Project funding logos">
      <img class="footer__logo footer__logo--oeg" src="assets/images/logo-ontology.png" alt="Ontology Engineering Group logo">
    </div>
  </footer>

  <div class="footer__powered">
    <span>Powered by:</span>
    <strong>INESData</strong>
  </div>
  <div class="footer__company">
    <p>PIONERA © {{ year }}</p>
  </div>
</div>
